.checkout_in {
    width: 1519px;
    height: 1849px;
    background-color: white;
    position: relative;
}

.checkout_on {
    width: 1319px;
    height: 1734px;
    position: absolute;
    top: 52px;
    left: 100px;
    background-color: white;
}

.checkout_on {
    display: flex;
    /* Sử dụng flexbox để căn chỉnh hai div cùng hàng */
    justify-content: space-between;
}

.left {
    width: 638px;
    height: 1734px;
    background-color: white;
}

.right {
    margin-top: 60px;
    width: 638px;
    height: 789px;
    background-color: white;
    /* Màu nền */
}

.billing {
    font-size: 36px;
    /* Kích thước font là 36px */
    font-family: 'Poppins', sans-serif;
    /* Sử dụng font Poppins */
    margin-left: 80px;
    margin-top: 36px;
}

.name {
    display: flex;
    flex-direction: row;
    padding: 0 80px;
    margin-top: 36px;
}

.first,
.last {
    flex: 1;
    /* Phần tử sẽ mở rộng để điền vào không gian có sẵn */
    margin-right: 20px;
    /* Khoảng cách giữa các phần tử */
}

label {
    display: block;
    /* Đảm bảo label nằm trên một dòng */
    font-size: 16;
    font-family: 'Poppins', sans-serif;
}

input {
    width: 100%;
    /* Input chiếm toàn bộ chiều rộng của phần tử cha */
}

input {
    width: 211px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid #ccc;
    /* Đường viền mảnh và màu xám */
}

.name .first label,
.name .last label {
    margin-bottom: 31px;
    /* Khoảng cách giữa label và input */
}

.company .input {
    width: 453px;
}

.company {
    padding: 0 80px;
    margin-top: 36px;
}

.company label {
    margin-bottom: 29px;
}

.company select {
    width: 211px;
    /* Độ rộng của select */
    height: 75px;
    /* Chiều cao của select */
    border-radius: 8px;
    /* Bo góc */
    border: 1px solid #ccc;
    /* Đường viền */
}

.right-in {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    padding: 10px 0;
    /* Khoảng cách giữa các hàng */
}

.subt,
.tot {
    margin-top: 20px;
    /* Khoảng cách giữa hàng subt/tot và hàng trước đó */
}

.tot .vnd {
    font-size: 20px;
    /* Kích thước cho giá tiền */
    color: #B88E2F;
    /* Màu cho giá tiền */
    margin-left: 431px;
}

.product0 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.product1 {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #9F9F9F;
}

.product1,
.total {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.product {
    margin-left: -10px;
}

.subtotal1 {
    margin-top: 10px;
    margin-left: 378px;
}

.vnd1 {
    margin-left: 440px;
}

.subtotal {
    margin-left: 410px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.container1 {
    margin-top: 13px;
    border-top: 1px solid #ccc;
}

.khach {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
}

.radio {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.label-radio {
    margin-left: 10px;
    /* Điều chỉnh khoảng cách giữa nút radio và nhãn */
    font-family: 'Poppins', sans-serif;
    /* Sử dụng font Poppins */
    font-size: 16px;
    /* Kích thước font */
}

.description {
    margin-left: 20px;
    color: #9F9F9F;
    font-family: 'Poppins', sans-serif;
    /* Sử dụng font Poppins */
    font-size: 16px;
    /* Kích thước font */
    line-height: 1.5;
}

.label-radio1,
.label-radio2 {
    color: #9F9F9F;
}

.description1 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    /* Sử dụng font Poppins */
    font-size: 16px;
    /* Kích thước font */
    line-height: 1.5;
}

button {
    height: 64px;
    width: 318px;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    background-color: #ffff;
}